@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+PL:wght@100..400&family=Sevillana&family=Tiny5&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tiny{
  font-size: 3rem;
    font-family: "Tiny5";
    font-weight: 400;
    font-style: normal;
}

.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pacifico {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.top{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.top h1,p{
  margin: 1.2rem;
}


.bottom{
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

input[type="text"]{
  font-family: "Playwrite PL";
  font-size: 0.9rem;
  width: 70vw;
  height: 10vh;
}

::placeholder{
  font-family: "Playwrite PL";
  font-size: 0.9rem;
  font-optical-sizing: auto;
  font-weight: 400;

}

input[type="color"]{
  margin-top: 1.2rem;
  width: 20vw;
  height: 8vh;
}


.output{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.output img{
  margin-bottom: 1.5rem;
}



.button-89 {
  --b: 3px;   
  --s: .45em;
  --color: #373B44;
  margin: 2rem;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
  border-radius: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}


.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}